In [7]:
import pandas as pd

In [8]:
col_names = ['text', 'label', 'id']
df = pd.read_csv('data/original/train.tsv', sep='\t', header=None, names=col_names)

In [9]:
df

                                                    text label       id
0      My favourite food is anything I didn't have to...    27  eebbqej
1      Now if he does off himself, everyone will thin...    27  ed00q6i
2                         WHY THE FUCK IS BAYLESS ISOING     2  eezlygj
3                            To make her feel threatened    14  ed7ypvh
4                                 Dirty Southern Wankers     3  ed0bdzj
...                                                  ...   ...      ...
43405  Added you mate well I’ve just got the bow and ...    18  edsb738
43406  Always thought that was funny but is it a refe...     6  ee7fdou
43407  What are you talking about? Anything bad that ...     3  efgbhks
43408            More like a baptism, with sexy results!    13  ed1naf8
43409                                    Enjoy the ride!    17  eecwmbq

[43410 rows x 3 columns]

In [10]:
df.label.value_counts() #neutral most common

27           12823
0             2710
4             1873
15            1857
1             1652
             ...
6,15,22          1
9,10,19          1
7,10,25          1
7,9,24,25        1
0,1,18           1
Name: label, Length: 711, dtype: int64

In [11]:
df.text.str.extractall(r'\[(\w+)\]').reset_index(drop=True)[0].value_counts() #extracts all the tags
#[NAME] and [RELGION] placed in text

NAME           7680
RELIGION        100
serious           2
goshdarn          1
get_user_id       1
ALL               1
TEAM              1
chuckles          1
Serious           1
7                 1
deleted           1
T                 1
Name: 0, dtype: int64